<footer class="site-footer ui-bar-a">

  <div class="wrapper shadowed">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul>
          <li>
            <h3>Write Us</h3>
            <ul>
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            </ul>
          </li>
          <li>
            <h3>...or Call Us</h3>
            <ul>
              <li><a href="tel:+1-{{ site.phone }}" title="Phone">{{ site.phone }}</a></li>
              <li><a href="tel:+1-{{ site.phone-alt-1 }}" title="Phone">{{ site.phone-alt-1 }}</a></li>
              <li><a href="tel:+1-{{ site.phone-alt-2 }}" title="Phone">{{ site.phone-alt-2 }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
