---
layout: default
---
<div id="pov-loading-container">
  {% include loading.html %}
</div>
{% include script.html %}
{% comment %} Info {% endcomment %}
{% assign mydata = site.data.data %}
<section id="info-wrapper">
  <div id="demoBG">
    <div id="demoBG__video"></div>
  </div>
</section>
{% comment %} Videos {% endcomment %}
<section id="ss-container">
  <div id="video-target" class="hidden"></div>
  {% assign l = 1 %}
  {% for categories in site.collections %}
    {% if categories.label != "posts" and categories.label != "bios" %}
      {% comment %} Categories Section {% endcomment %}
      <div id="panel-{{ l }}" class="work-list">
        <div class="wrapper">
            <h2>
                {{ categories.title }}
            </h2>
        </div>
        <div class="wrapper {% if categories.special == true %}special{% endif %}">
          {% for works in categories.docs %}
            {% comment %} Tile {% endcomment %}
            <div class="tile shadowed">
              <a href="#vid-{{ works.title | slugify }}" data-rel="popup" {% if works.thumbVid %}data-has-vid="true"{% endif %}>
                  <h3>{{ works.title }}</h3>
                  {% if works.client != "" %}
                  <span class="client">
                      {{ works.client }}
                  </span>
                  {% endif %}
              </a>
              <div class="image-bg" 
                  {% if works.thumbVid %}
                    data-vid="{{ works.thumbVid }}"
                    data-poster="../images/{{ works.image }}"
                  {% endif %}
                  {% if works.image != "" %}
                    style="background-image: url(../images/{{ works.image }})"
                  {% endif %}
                    >
              </div>
            </div>
            {% comment %} Popup {% endcomment %}
            <div id="vid-{{ works.title | slugify }}-screen" class="ui-popup-screen ui-overlay-b ui-screen-hidden"></div>
            <div id="vid-{{ works.title | slugify }}-popup" class="ui-popup-container pop ui-popup-hidden">
              <div id="vid-{{ works.title | slugify }}" class="pop-up" data-role="popup" data-theme="b" data-overlay-theme="b">
                <iframe src="https://player.vimeo.com/video/{{works.link}}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="flex-wrapper">
                    <h2>{{ works.title }}</h2>
                    {% if works.year != "" %}
                    <div class="year">
                        {{ works.year }}
                    </div>
                    {% endif %}
                </div>
                {% if works.client != "" %}
                <div class="client">
                  {{ works.client }}
                </div>
                {% endif %}
                {% assign content = works.content | strip_newlines %}
                {% if content != "" %}
                <div data-role="collapsible" class="wrapper">
                  <h3>More Info</h3>
                  {{ content }}
                  <a href="https://vimeo.com/povcreativemedia" alt="POV's Vimeo">More stuff from P.O.V.</a>
                </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        <a class="next-section" href="#panel-{{ l | plus: 1 }}" data-rel="inner">
            <div class="arrow-container">
              {% include arrow_down.html %}
            </div>
        </a>
      </div>
      {% assign l = l | plus: 1 %}
    {% endif %}
  {% endfor %}
  <div id="pictureBG"></div>
</section>
{% comment %} Services {% endcomment %}
<section id="service-wrapper" style="background-image: url(../images/{{ mydata.image-2 }})">
  <div class="wrapper-bg-t shadowed">
    <div class="wrapper about">
      <h2 class="big-title">{{ mydata.services.title }}</h2>
      <ul class="services">
      {% for service in mydata.services.data %}
        <li>
          <div style="background-image: url(../images/{{ service.icon }});"></div>
          <h3>{{ service.title }}</h3>
        </li>
      {% endfor %}
      </ul>
      <h4>{{ mydata.services.description }}</h4>
    </div>
  </div>
  <a class="arrow-container" href="#bios-wrapper" alt="The A Team" data-rel="inner">
    {% include arrow_down.html %}
  </a>
</section>
{% comment %} Audio {% endcomment %}
<section id="audio-wrapper">
  <div class="audio-background" aria-hidden="true">
    {% for audio in mydata.audio-images %}
      <div class="audio-stripe" style="background-image: url(../images/{{ audio }})"></div>
    {% endfor %}
  </div>
  <div class="wrapper">
    <div class="audio-content">
      <div class="audio-content--panel">
        {% capture audio %}{% include audio.markdown %}{% endcapture %}
        {{ audio | markdownify }}
      </div>
    </div>
  </div>
</section>
{% comment %} About Us {% endcomment %}
<section id="about-wrapper" class="hero" style="background-image: url(../images/{{ mydata.image-3 }})">
  <div class="wrapper-bg-t shadowed">
    <div class="wrapper about">
      <header class="post-header">
        <h1 class="post-title">{{ mydata.about-title }}</h1>
      </header>
      <div role="main" class="post-content">
        {% capture about %}{% include about.markdown %}{% endcapture %}
        {{ about | markdownify }}
      </div>
    </div>
  </div>
</section>
{% comment %} Bios {% endcomment %}
{% for categories in site.collections %}
{% if categories.label == "bios" %}
<section id="bios-wrapper">
    <h2 class="shadowed">{{ mydata.bios-title }}</h2>
    <div class="wrapper about">
    {% for bios in categories.docs %}
        <div class="bio-wrapper">
            <div class="bio-image shadowed" style="background-image: url(../images/{{ bios.image }})"></div>
            <div class="bio-card wrapper-bg-t shadowed">
                <h4>{{ bios.name }}</h4>
                <h5>{{ bios.title }}</h5>
                {{ bios.content }}
            </div>
        </div>
    {% endfor %}
    </div>
    <!--<a class="arrow-container" href="#info-wrapper" alt="Awards are great!" data-rel="inner">
        {% include arrow_down.html %}
    </a>-->
</section>
{% endif %}
{% endfor %}
{% comment %} Awards {% endcomment %}
<section id="awards-wrapper" style="background-image: url(../images/{{ mydata.image-4 }})">
  <div class="wrapper about">
    {% capture awards %}{% include awards.markdown %}{% endcapture %}
    {{ awards | markdownify }}
  </div>
  <a class="arrow-container" href="#info-wrapper" alt="About Us" data-rel="inner">
    {% include arrow_up.html %}
  </a>
</section>





